/*Global*/
*{font-family: Helvetica, Arial, sans-serif;
}

*{background: #111;}

*{color: #fff;}

h1, h2, h3{
	font-family: 'Teko', sans-serif;

}

ul li{

	margin-top:7px;
	margin-bottom: 7px;
}

p{

	line-height: 1.5em;
}


/*Header*/

h1{
	font-size: 9.375em;
	text-align: center;
	text-shadow: 10px 8px 10px #000;
	background: #000 url('../img/city.jpg') no-repeat center;
	background-size: cover;
	box-shadow: inset 0 0 25px 10px rgba(0,0,0, .8);
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 0px;

}



.tag-line{
	background:none;
	font-size: 2.5em;
	text-align: center;
	text-shadow: 5px 5px 5px #000;
	margin-top: -250px;
}

.navigation{
	background:none;
	
	font-size: 1.875em;
	text-align: center;

}

nav li{
	
	display: inline-block;
	background:none;
	margin-left: -10px;
	padding-right: 15px;
	text-shadow: 5px 5px 5px #000;

}


ul{
	list-style-type:none;
	background:none;
	padding-left: 0;

}

a{
	font-family:'Teko', sans-serif;
	text-decoration:none;
	background:none;

}



/*BIO*/


h2, h3{
	font-size: 2.5em;
	margin-bottom: -20px;
	margin-top: 20px ;

}

.about{
	background: none;
	width: 80%;
	font-size: 1em;
	margin-left: 10%;
	margin-top: -10px;
	float: left;

}

/*Contact*/

.contact{

	text-align:center;

}

.contact h3 {

	font-size: 1.25em;
	margin-top: 10px;
	margin-bottom: 20px;
	line-height:23px;
}


.hobbies{
	margin-bottom: 100px;

}


/*Resume*/

.resume h2{
	text-align: center;
	font-size: 2.5em;
}



.attributes h3{
	font-size:1.5625em;
	text-align:center;

}

.resume{
	width: 40%;
	margin: auto;

}

.resume p{
	font-size: 1em;

}

.skills{
	width: 25%;
	display: block;
	float: left;
	margin: 0 0 0 25%;
	text-align:center;

}

.fields{
	width: 25%;
	display: block;
	float: left;
	margin: 0 25% 0 0;
	text-align: center;
	
}


/*Gallery Page*/

.gallery{
	text-align: center;
	display: block;

}


h3 button{
	border-style: none;
	font-size: 1em;
	margin-bottom: 20px;

}

h3 button:hover{
	color: #666;

}



.photo {
  border: 2px solid cyan;
}

.illus {
  border: 2px solid magenta;
}

.logo {
 border: 2px solid yellow;
}

.hide {
  opacity: 0;
  transition: opacity .25s;
  position: absolute;
}

}











/*******************************************
The base of this code was taken from 
http://ronaldroe.com/easy-css-only-image-description-hover/
But was modified to fit my specific site and also optimized for various
view port sizes
********************************************/


}





















a:hover {
	color: #666;

}









/*Footer*/

footer{
	text-align:center;
	font-size: 1.25em;
	list-style-type:none;
	
	
	
	
}











/* Layout for Style Tile
Feel free to change */
section {
	margin: 20px 0;
}






.container  {
	margin-left: 50px ;
}


p a{
	font-family: Helvetica, Arial, sans-serif ;
	color: grey;

}

.container p{
	width: 30%;
}


.style-tile-title{
	text-align: center;

}
 
.color-1
{
	background-color: #000;
	border: 1px solid #000;
	float: left;
	margin: 0px 10px 10px 0px;
	height: 75px;
	width: 75px;

	}

.color-2{
	background-color: #fff;
	border: 1px solid #000;
	float: left;
	margin: 0px 10px 10px 0px;
	height: 75px;
	width: 75px;

}





.color-3{
	background-color: #111;
	border: 1px solid #000;
	float: left;
	margin: 0px 10px 10px 0px;
	height: 75px;
	width: 75px;

}



.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 




 
/* Set Your Own Typography */
 
 
/* Set Your Own Margin & Padding */





 
/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}


/*Media Queries*/

@media only screen and (min-width: 1px) and (max-width: 768px) {

	.profob p{
		width: 80%;
	}

	.hobbies p{
		width: 80%;
	}

	.biog p{
		width: 80%;
	}

	.about p{
		width: 80%;

	}

	.resume p{
		text-align: center;
		

	}

	.skills{
		display: inline;
		float: none;

	}

	.fields{
		display: inline;
		float: none;

	}


	.container{
		display:inline;
		float:none;
		text-align: center;

	}

	.container p{
		width: 50%;
		display: block;
		text-align: center;
		margin: 0 0 20px 25%;

	}

	.container h2{
		margin-bottom: 5px;


	}

	#gallery img{
		width: 90%;

	}

	.img-wrap{
		width: 90%;
		margin: 5%;
		

	}

	.img-wrap p{
	font-size: .65em;

}

	.img-wrap h4{
		font-size: 1em;

	}

	.main-header h1{
		font-size: 5em;

	}

	.main-header h2{
		margin-top: 30px;

	}
}




