/*Global*/
*{font-family: Helvetica, Arial, sans-serif;
}

*{background: #111;}

*{color: #fff;}

h1, h2, h3{
	font-family: 'Teko', sans-serif;

}


/*Header*/

h1{
	font-size: 150px;
	text-align: center;
	text-shadow: 10px 8px 10px #000;
	background: #444 url('../img/city.jpg') no-repeat center;
	background-size: cover;
	box-shadow: inset 0 0 25px 10px rgba(0,0,0, .8);
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 0px;

}



.tag-line{
	background:none;
	font-size: 40px;
	text-align: center;
	text-shadow: 5px 5px 5px #000;
	margin-top: -250px;
}

.navigation{
	background:none;
	
	font-size: 30px;
	text-align: center;

}

nav li{
	
	display: inline-block;
	background:none;
	margin-left: -10px;
	padding-right: 15px;
	text-shadow: 5px 5px 5px #000;

}


ul{
	list-style-type:none;
	background:none;
	padding-left: 0;

}

a{
	font-family:'Teko', sans-serif;
	text-decoration:none;
	background:none;

}



/*BIO*/

h2, h3{
	font-size: 35px;
	margin-bottom: -10px;

}

.about{
	background: none;
	width: 40%;
	font-size: 18px;
	margin-left: 30%;
	float: left;

}

/*Contact*/

.contact{
	text-align:center;

}

.contact p {

	font-size: 18px;
	font-weight: bold;
}