/*Global*/
*{font-family: Helvetica, Arial, sans-serif;
}

*{background: #111;}

*{color: #fff;}

h1, h2, h3{
	font-family: 'Teko', sans-serif;

}

ul li{

	margin-top:7px;
	margin-bottom: 7px;
}

p{

	line-height: 24px;
}


/*Header*/

h1{
	font-size: 150px;
	text-align: center;
	text-shadow: 10px 8px 10px #000;
	background: #444 url('../img/city.jpg') no-repeat center;
	background-size: cover;
	box-shadow: inset 0 0 25px 10px rgba(0,0,0, .8);
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 0px;

}



.tag-line{
	background:none;
	font-size: 40px;
	text-align: center;
	text-shadow: 5px 5px 5px #000;
	margin-top: -250px;
}

.navigation{
	background:none;
	
	font-size: 30px;
	text-align: center;

}

nav li{
	
	display: inline-block;
	background:none;
	margin-left: -10px;
	padding-right: 15px;
	text-shadow: 5px 5px 5px #000;

}


ul{
	list-style-type:none;
	background:none;
	padding-left: 0;

}

a{
	font-family:'Teko', sans-serif;
	text-decoration:none;
	background:none;

}



/*BIO*/


h2, h3{
	font-size: 40px;
	margin-bottom: -20px;
	margin-top: ;

}

.about{
	background: none;
	width: 40%;
	font-size: 14px;
	margin-left: 30%;
	margin-top: -10px;
	float: left;

}

/*Contact*/

.contact{

	text-align:center;

}

.contact h3 {

	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	line-height:23px;
}

/*Resume*/

.resume h2{
	text-align: center;
	font-size: 40px;
}

.resume{
	width: 40%;
	margin: auto;

}

.resume p{
	font-size: 14px;

}

.skills{
	width: 20%;
	float: left;
	margin-left: 30%;

}

.fields{
	width: 20%;
	float: right;
	text-align: right;

	margin-right: 30%;
}


/*Gallery Page*/

.gallery h3{
	text-align:center;
	font-size: 20px;
	margin-top: -10px;
	margin-bottom: 20px;

}
.gallery h2{
	text-align: center;
	font-size: 40px;

}


#gallery li img{
	display: inline-block;
    margin-left: 40%;
   

}

a:hover {
	color: #666;

}
